@page
@model ADVWEB1_RAZOR_PAGE.Pages.PortfolioModel
﻿@{
    ViewData["Title"] = "Portfolio";
}
<h1 class="mb-4">Portfolio</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/p1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JJ and EE Website</h5>
                <p class="card-text">A website for the construction company JJ and EE, developed using Angular.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/p2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paylip</h5>
                <p class="card-text">A payroll desktop application developed using .NET Winforms and Sqlite Database</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/p3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Terrazon</h5>
                <p class="card-text">A real estate property management system developed using the .NET winforms with Guna UI and MSSQL as database.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/p4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Victoria Travellers Inn</h5>
                <p class="card-text">A website for the Victoria Travellers Inn, developed in wordpress.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/p5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Toonloon</h5>
                <p class="card-text">A comics reading website developed using Blazor, ASP.NET and Firebase as the database.</p>
            </div>
        </div>
    </div>
</div>

@{
}
